[tool.poetry]
name = "yanga"
version = "0.26.0"
description = "Yet another ninja generator to build C/CPP projects."
authors = ["cuinixam <me@cuinixam.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/cuinixam/yanga"
documentation = "https://yanga.readthedocs.io"
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries",
]
packages = [
    { include = "yanga", from = "src" },
]

[tool.poetry.scripts]
yanga = "yanga.ymain:main"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/cuinixam/yanga/issues"
"Changelog" = "https://github.com/cuinixam/yanga/blob/main/CHANGELOG.md"

[tool.poetry.dependencies]
python = "^3.10,<3.13"
mashumaro = "^3.5"
loguru = "^0.7.0"
cookiecutter = "^2.1.1"
py-app-dev = "^1.13.0"
customtkinter = "^5.2.0"
pillow = "^10.1.0"
kspl = "^1.0.0"
pick = "^2.2.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.0"
pytest-cov = "^4.0"
black = "^23.1.0"
pre-commit = "^3.1.1"
pyinstaller = "^6.4.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
myst-parser = ">=0.16"
sphinx = ">=4.0"
sphinx-rtd-theme = ">=1.0"
m2r = "^0.3.1"
sphinxcontrib-mermaid = "^0.8.1"
sphinxcontrib-bibtex = "^2.5.0"
mlx-traceability = "^10.0.0"
sphinx-rtd-dark-mode = "^1.3.0"
sphinx-copybutton = "^0.5.2"
sphinx-rtd-size = "^0.2.0"

[tool.semantic_release]
branch = "main"
version_toml = "pyproject.toml:tool.poetry.version"
version_variable = "src/yanga/__init__.py:__version__"
build_command = "pip install poetry && poetry build"

[tool.pytest.ini_options]
addopts = "-v -Wdefault --cov=yanga --cov-report=term-missing:skip-covered -s"
pythonpath = ["src"]

[tool.coverage.run]
branch = true
parallel = true

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "@overload",
    "if TYPE_CHECKING",
    "raise NotImplementedError",
    'if __name__ == "__main__":',
]

[tool.isort]
profile = "black"
known_first_party = ["yanga", "tests"]

[tool.mypy]
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
mypy_path = "src/"
no_implicit_optional = true
show_error_codes = true
warn_unreachable = true
warn_unused_ignores = true
exclude = [
    'docs/.*',
    'setup.py',
    'template/**'
]

[tool.black]
line-length = 120

[[tool.mypy.overrides]]
module = "tests.*"
allow_untyped_defs = true

[[tool.mypy.overrides]]
module = "docs.*"
ignore_errors = true

[[tool.mypy.overrides]]
module = "bootstrap.*"
ignore_errors = true

[tool.codespell]
skip = "build_exe.spec"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
